# gitignore files tells git which files to ignore

# ignore system files
.DS_Store

# ignore notebooks
notebooks/

# ignore swap files
*.swp

# ignore data folder 
data/

# ignore references folder
references/

# ignore credentials
credentials*.*